.footer-container {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0px;
}

.icons {
    font-size: 24px;
    margin-top: 10px;
}

.icon {
    margin: 0 10px;
    color: white;
}

a {
    margin-right: 60px;
}

.icon:hover {
    color: aqua;
}